.button-blue {
	background-color: blue;
	padding: 10px;
	color: white;
	border-radius: 10px;
	border: none;
}
.button {
	padding: 10px;
	border-radius: 10px;
	border: none;
	&:hover {
		cursor: pointer;
	}
}
